ul {
    list-style: none;
    padding: 0;
    width: 200%;
    margin: auto;
}

li {
    font-size: 1.3rem;
    line-height: 2rem;
    border-bottom: 1px dotted #777;
    text-align: justify;
}

img {
    height: 50px;
    width: 50px;
}

tbody {
    alignment: left;
}
th {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #ddd;
    padding: 8px;
    list-style: none;
    width: 200%;
    margin: auto;
}

td {
    font-size: 1.3rem;
    line-height: 2rem;
    border-bottom: 1px dotted #777;
    text-align: justify;
}